@import "src/styles/variables";

.user {
  display: flex;
  align-items: center;

  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 2px 0;
  background-color: $bg-white;
  border: 1px solid $gray-light-400;

  &:hover {
    background-color: $bg-gray-light-200;
  }


  > div:first-child {
    display: flex;
    > h2 {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    .img {
      width: 20px;
      margin-right: 10px;
      opacity: .7;
    }
  }
}

.user_theme {
  background-color: #3a3754!important;
  color: white!important;

  h2 {
    &:hover {
      text-decoration: underline;
      color: greenyellow!important;
    }
  }
}