@import "src/styles/variables";

.user {
  display: flex;
  align-items: center;
  //position: relative;

  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  background-color: $bg-white;
  border: 1px solid $gray-light-400;

  &:hover {
    background-color: $gray-light-200;
  }

  > img {
    width: 20px;
    margin-right: 10px;
    opacity: .7;
  }


}