.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: transparent;
  border-bottom: 1px solid gray;

  &_logo {
    margin-right: 30px;
  }

}
