.status {

  &_box {
    display: flex;
    align-items: center;
    width: 400px;
    height: 90px;
    padding: 0 15px;
    box-shadow: 11px 17px 13px -11px rgba(207,207,207,1);


    > img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    > button {
      border: none;
      height: 40px;
      width: 100%;
      border-radius: 30px;
      margin-left: 10px;
      color: #545454;

    }
  }

}