@import "src/styles/variables";

.root {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: $bg-black;
  }

  > div {
    position: absolute;
    z-index: 20;
    top: 15%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translateX(-50%);
    background: $gray-light-200;


    > button {
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      opacity: .6;
      font-size: $font-lg-25;
      cursor: pointer;
      background: transparent;

      &:hover {
        opacity: 1;
      }
    }

    > h1 {
      margin: 20px;
      padding-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid $black;
      font-size: $font-lg-20;
    }
  }
}

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40px;
  transform: translateX(-50%);

}

.className {
  justify-content: space-between !important;
  width: 100% !important;
}